
#first-container {


}

#header {
	border-bottom: 5px solid rgb(185, 189, 194);
	border-style: ridge;
}

#student-name {
	font-family: 'Volkhov', serif;
	color: white;
	font-size: 30px;
	background-color: rgb(72, 62, 83);
}

.nav {
	
	background-color: white;
}

.nav-link {
	font-size: 18px;
	color: rgb(58, 60, 63);
}

/* adds a right border on all nav list items*/
.nav>li{
	border-right: 1px solid rgb(185, 189, 194)
   }

/*removes border from last nav list item*/
.nav>li:last-child{
	border: none;
}

#second-container {
	width: 95%;
}

#card-column {
	padding:0;
}

#main {
	margin-top: 30px;
	background-color:white;
	border: 1px solid rgb(185, 189, 194);
}

.card-title {
	color: rgb(72, 62, 83);
	font-family: 'Volkhov', serif;
	margin-left: 5%;
	text-align: left;
	margin-top: 50px;
}

#card-hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 40px;
}

.clearfix::after {
	content: " ";
	display: block;
	clear: both;
   }

#bio-image {
	width: 300px;
	
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	
}

.card-text {
	margin: 10px;
	font-size: 18px;
}


